<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <style>
    
    body {
        background-color: #fcfcfc;
        padding-top: 55px;
        min-height: 100vh;
        margin:0;
        display:flex;
        flex-direction:column;
      }
    </style> 
</head>
<body>
<br>  
<div class="container">
        
    <h1 class="text-center">
        Tư vấn khám, chữa bệnh tiêu hóa
    </h1>
    <br />
    <div class="chatbot chatbox__support">
        <div class="chat" id="chat"></div>
        <div class="action">
            <textarea id="input-chat" class="form-control input-chat" rows="1" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="Nhập tin nhắn"></textarea>
            <button id="sendMessage" type="submit" class="btn btn-info btn-send send__button" >Gửi</button>
        </div>
    </div>
</div>  

<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>